

@if (quizboard(); as qb){
  <h1 class="text-4xl">Quizboard "{{qb.quizboardTitle}}"</h1>
  <div class="flex flex-row ">
    @for(c of qb.categories; track $index; let idc = $index){
      <div
        class="flex card card-border bg-blue-500 w-50 h-30 m-3 items-center justify-center font-bold"
        [attr.data-col] =  "idc"
      >
        <div class="tooltip">
          <div class="tooltip-content">
            <div class="animate-bounce text-orange-400 text-l font-black">Thema ändern</div>
          </div>
          <input type="text" class="input input-ghost text-center" [value]="c" (keyup.enter)="saveCategory($event.target.value, qb.id, idc)" (blur)="saveCategory($event.target.value, qb.id, idc)"/>
        </div>
      </div>
    }
  </div>
  @for(r of qb.valuesAscending; track $index; let idr = $index){
    <div class="flex flex-row">
      @for(c of qb.categories; track $index; let idc = $index){
        <div
          class="flex card card-border bg-blue-700 w-50 h-30 m-3 items-center justify-center"
          [attr.data-row] = "idr"
          [attr.data-col] = "idc"
        >
          {{r}} <button type="button" class="btn" (click)="openCardEditor(idc, idr, c, r)">EDIT</button>
        </div>
      }
    </div>
  }
}@else{
  <span>Board konnte nicht geladen werden. 😥</span>
}


  <div class>

  </div>




